.idea
WebApplicationAngular/node_modules

WebApplicationAngular/jspm_packages

WebApplicationAngular/npm-debug.log
WebApplicationAngular/debug.log
WebApplicationAngular/src/**/*.js
WebApplicationAngular/!src/systemjs.config.extras.js
WebApplicationAngular/!src/systemjs.config.js
WebApplicationAngular/!src/systemjs-angular-loader.js
WebApplicationAngular/*.js.map
WebApplicationAngular/e2e/**/*.js
WebApplicationAngular/e2e/**/*.js.map
_test-output
_temp

WebApplicationAngular/obj
WebApplicationAngular/bin
packages